.rovers-list {
	.rover {
		background: #ddd;
		border-radius: 8px;
		margin: 0 0 .5em;
		padding: .5em;
	}
	.head {
		display: flex;
		justify-content: flex-start;
		.title {
			margin-bottom: 0;
		}
		[class*="fa-"] {
			padding: 0 .8em;
		}
		.rover-status {
			margin-left: auto;
		}
	}
}
