.rovers-list {
	.rover,
	.rover-detail {
		background: #ddd;
		border-radius: 8px;
		margin: 0 0 .5em;
		padding: .5em;
		border: solid 2px transparent;
	}
	.rover {
		cursor: pointer;
		&:hover {
			border-color: #ccc;
		}
	}

	.head {
		display: flex;
		.title {
			margin-bottom: .5em;
		}
		[class*="fa-"] {
			padding: 0 .6em;
		}
		.rover-status {
			margin-left: auto;
		}
	}

	.rover .head {
		justify-content: flex-start;
	}

	.rover-detail .head {
		justify-content: space-between;
	}

	.rover-name {
		[class*="fa-"] {
			visibility: hidden;
		}
		&:hover {
			[class*="fa-"] {
				visibility: visible;
			}
		}
	}

	.rover-detail .head .title {
		cursor: pointer;
	}

	.title.mode-header {
		margin-bottom: .5em;
	}

	.title.modules-header {
		margin-top: 1em;
		margin-bottom: .5em;
	}

	.modules-configurator {
		.subtitle {
			margin-bottom: 0;
		}
		display: flex;
		justify-content: space-between;
		> div {
			width: 50%;
			&:first-child {
				padding-right: .5em;
			}
			&:last-child {
				padding-left: .5em;
			}
		}
		.available-modules .button {
			justify-content: space-between;
		}
		.installed-modules .button {
			justify-content: flex-start;
		}
	}

	.title.stats-header {
		margin: 1em 0 .5em;
	}

	.stat {
		display: inline-block;
		padding: 0 1.5em 0 0;
		.value {
			font-weight: bold;
		}
	}
}

@keyframes rover-bg {
	0% {
		background-image: url(../images/rover-bg1.png);
	}

	25% {
		background-image: url(../images/rover-bg2.png);
	}

	50% {
		background-image: url(../images/rover-bg3.png);
	}

	75% {
		background-image: url(../images/rover-bg3.png);
	}

	100% {
		background-image: url(../images/rover-bg1.png);
	}
}

@keyframes basic-wheels {
	0% {
		background-image: url(../images/wheels-basic.png);
	}

	50% {
		background-image: url(../images/wheels-basic2.png);
	}

	100% {
		background-image: url(../images/wheels-basic.png);
	}
}

@keyframes advanced-wheels {
	0% {
		background-image: url(../images/wheels-advanced.png);
	}

	50% {
		background-image: url(../images/wheels-advanced2.png);
	}

	100% {
		background-image: url(../images/wheels-advanced.png);
	}
}

.img-wheels-basic {
	.rover-module-image-not-moving & {
		background-image: url(../images/wheels-basic.png);
	}

	.rover-module-image-moving & {
		-moz-animation-duration: 0.4s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-name: basic-wheels;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: basic-wheels;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
		animation-name: basic-wheels;
	}
}

.img-wheels-advanced {
	.rover-module-image-not-moving & {
		background-image: url(../images/wheels-advanced.png);
	}

	.rover-module-image-moving & {
		-moz-animation-duration: 0.4s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-name: advanced-wheels;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: advanced-wheels;
		animation-duration: 0.4s;
		animation-iteration-count: infinite;
		animation-name: advanced-wheels;
	}
}

.rover-module-image-wrapper {
	width: 100%;
    padding-top: 72%;
    background: #fff;
    position: relative;
    border: 1px solid #000;
    margin: 1em 0;

	.rover-module-img {
		position: absolute;
		top: 0;
		pointer-events: none;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;

		&.img-rover-bg-still {
			background-image: url(../images/rover-bg-stuck.png);
		}

		&.img-rover-bg-stuck {
			background-image: url(../images/rover-bg-stuck.png);
		}

		&.img-rover-bg {
			-moz-animation-duration: 0.75s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-name: rover-bg;
			-webkit-animation-duration: 0.75s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-name: rover-bg;
			animation-duration: 0.75s;
			animation-iteration-count: infinite;
			animation-name: rover-bg;
		}

		&.img-rover-small {
			background-image: url(../images/rover-small.png);
		}

		&.img-rover-medium {
			background-image: url(../images/rover-medium.png);
		}

		&.img-rover-large {
			background-image: url(../images/rover-large.png);
		}

		&.img-rover-huge {
			background-image: url(../images/rover-huge.png);
		}

		&.img-battery-small {
			background-image: url(../images/battery-small.png);
		}

		&.img-battery-medium {
			background-image: url(../images/battery-medium.png);
		}

		&.img-battery-large {
			background-image: url(../images/battery-large.png);
		}

		&.img-compass {
			background-image: url(../images/compass.png);
		}

		&.img-gps {
			background-image: url(../images/gps.png);
		}

		&.img-drill-basic {
			background-image: url(../images/drill-basic.png);
		}

		&.img-solar-small {
			background-image: url(../images/solar-small.png);
		}

		&.img-solar-large {
			background-image: url(../images/solar-large.png);
		}

		&.img-solar-array {
			background-image: url(../images/solar-array.png);
		}

		&.img-tank-basic {
			background-image: url(../images/tank-basic.png);
		}

		&.img-tank-large {
			background-image: url(../images/tank-large.png);
		}

		&.img-camera {
			background-image: url(../images/camera.png);
		}

		&.img-winch {
			background-image: url(../images/winch.png);
		}
	}
}
