.propellantBar {
	text-align: center;
	position: relative;
	&.launch-ready {
		@media (min-width: 800px) {
			border: 0;
			background: 0;
			margin: 0;
			padding: .5em 0;
		}
	}
}

.propellantBar-label {
	@media (min-width: 800px) {
		transform: rotate(270deg);
		position: relative;
		top: 9em;
		text-transform: uppercase;
		line-height: 0;
		z-index: 1;
	}
}

.propellantBar-percent {
	text-align: center;
	font-size: .8rem;
}

.button.propellantBar-button {
	box-sizing: border-box;
	height: 100%;
	max-width: 100%;
	text-transform: uppercase;
    text-orientation: upright;
	white-space: unset;
	width: 100%;
	@media (min-width: 800px) {
		width: 4rem;
	}
    word-break: break-all;
}
