@import "~bulma/bulma";

*,
*:before,
*:after {
	box-sizing: border-box;
}

$top-bar-height: 2em;

html {
	background: url("bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0.0) 20%,rgba(255,255,255,0.0) 80%,rgba(0,0,0,0.8) 100%);
}

.app-title h1.title,
.elapsed-time,
.ore-counter,
.game-speed {
	color: #e3e3e3;

	strong {
		color: #e3e3e3;
	}
}

.ore-counter {
	text-align: right;
}

.app-title {
	padding-top: .2em;
}

.over-storm {
	position: relative;
	z-index: 2;
}

.top-bar {
	min-height: $top-bar-height;
	height: auto;
	@media (min-width: 800px) {
		min-height: none;
		height: $top-bar-height;
	}
	padding: 0 0.5em;

	header {
		width: 100%;
		@media (min-width: 800px) {
			width: 40%;
			display: inline-block;
		}
	}

	.top-controls-wrap {
		width: 100%;
		display: inline-block;
		@media (min-width: 800px) {
			width: 60%;
		}
	}
}

.top-controls {
	display: flex;
	justify-content: flex-end;

	> div {
		flex-grow: 1;
	}

	.elapsed-time {
		width: 5em;
	}
}

@media (min-width: 800px) {
	.main {
		height: 750px;
		@media (min-height: 600px) {
			height: calc(100vh - #{$top-bar-height});
		}
		display: grid;
		grid-template-columns: [left] 42% [right] 52% [rail] 6%;
		grid-template-rows: [top] 52% [middle] 38% [bottom] 10%;
	}


	.tasks-list {
		grid-column-start: left;
		grid-row-start: top;
	}
	.inventory {
		grid-column-start: left;
		grid-row-start: middle;
	}
	.rovers-list {
		grid-column-start: right;
		grid-row-start: top;
		grid-row-end: bottom;
	}
	.alerts {
		grid-column-start: left;
		grid-column-end: rail;
		grid-row-start: bottom;
	}
	.propellantBar {
		grid-column-start: rail;
		grid-row-start: top;
		grid-row-end: none;
	}
}

.toast {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    border: 4px solid black;
    font-family: $family-sans-serif;
    &-success {
        background-color: $success;
    }
    &-warning {
        background-color: $warning;
    }
    &-failure {
        background-color: $danger;
    }
}
