@import "~bulma/bulma";

*,
*:before,
*:after {
	box-sizing: border-box;
}

$top-bar-height: 2em;

html {
	background: url("bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.over-storm {
	position: relative;
	z-index: 2;
}

.top-bar {
	height: $top-bar-height;

	header {
		width: 100%;
		@media (min-width: 800px) {
			width: 40%;
			display: inline-block;
		}
	}

	.top-controls-wrap {
		width: 100%;
		display: inline-block;
		@media (min-width: 800px) {
			width: 60%;
		}
	}
}

.top-controls {
	display: flex;

	> div {
		flex-grow: 1;
	}

	.elapsed-time {
		min-width: 200px;
	}
}

@media (min-width: 800px) {
	.main {
		height: 750px;
		@media (min-height: 600px) {
			height: calc(100vh - #{$top-bar-height});
		}
		display: grid;
		grid-template-columns: [left] 42% [right] 52% [rail] 6%;
		grid-template-rows: [top] 62% [middle] 28% [bottom] 10%;
	}


	.tasks-list {
		grid-column-start: left;
		grid-row-start: top;
	}
	.inventory {
		grid-column-start: left;
		grid-row-start: middle;
	}
	.rovers-list {
		grid-column-start: right;
		grid-row-start: top;
		grid-row-end: bottom;
	}
	.alerts {
		grid-column-start: left;
		grid-column-end: rail;
		grid-row-start: bottom;
	}
	.propellantBar {
		grid-column-start: rail;
		grid-row-start: top;
		grid-row-end: none;
	}
}

.toast {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    border: 4px solid black;
    font-family: $family-sans-serif;
    &-success {
        background-color: $success;
    }
    &-warning {
        background-color: $warning;
    }
    &-failure {
        background-color: $danger;
    }
}
