.alert-list-item {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  color: red;
  font-size: larger;
}

.alert-list-value {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  color: red;
  font-size: larger;
}

.alert-list {
	overflow: auto;
}
