.alert-list-item {
	float: left;
	list-style-type: none;
	margin-right: 20px;
	color: red;
}

.alert-list-value {
	float: left;
	list-style-type: none;
	margin-right: 20px;
	color: red;
}

.alert-list {
	overflow: auto;
}
