.boxed {
	background: rgba(240,240,240,0.9);
	border: 5px ridge darkred;
	border-radius: 12px;
	margin: .3em;
	padding: .5em;
}

.scrollable {
	overflow: auto;
}

.kv {
	.key {

	}
	.value {
		font-weight: bold;
	}
}
